@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen</h1>
    <p>Hier finden Sie die Möglichkeit zur Anmeldung in der HTL Waidhofen</p>
    <p>
        <center>
            <a asp-controller="Prospects" asp-action="Create">zur Registrierung</a>
        </center>
    </p>
</div>
